# Static Key
Static value
# Key1
{{ .key1 }}
# Encrypted Key
{{ .encKey1 }}
# Inline Encryped Key
{{ ENC "OTE0NDZmZTE0YmYwOTM4ZjVlNGY5MGM1OmM1N2VkN2VlNTY4ZTkwODZkNWRkNWM1NWJlZWQyNmMzNDUxYTY5MzNhY2JmZjY1ZDA1" }}
# Env Var
{{ .SHELL }}
