# Static Key
Static value
# Key1
{{ .key1 }}
# Encrypted Key
{{ .encKey1 }}
# Inline Encryped Key
# password: abcdefghijklmnopqrstuvwxyz012345
{{ ENC "Y2QzMzAzMzI0ZTYxZDE2ZWY5NjE3Njc5OmMxZWE4NjY3YWQxNGRhMjJhNDJkN2Y4NWU3YzY1NGNlNjk4ODlhYWM3N2I3ZjFiNzI4" }}
# Env Var
{{ .SHELL }}
